# Ignore node_modules
node_modules/

# Ignore build output directories
.next/
dist/

# Ignore specific files or directories
public/
coverage/
**/*.min.js
**/vendor/*.js

# Ignore environment or configuration files
.env
.env.local
